body {
    font-family: 'Otomanopee One', sans-serif;
}

.jumbotron {
    text-align: center;
    color:white;
    background-color: #25274D
}

.description {
    font-style: italic;
}

.image-form {
    width: 70%;
    margin: 100px auto 0;
}

.image-form, .container {
    min-height: 60vh;
}


/* CARD STYLING */
.card-container {
    position: relative;
    border-radius: 5%;
    margin-bottom: 50px;
    perspective: 200rem;
    height: 240px;
}


.card-container:hover .card-front {
    transform: rotateY(180deg);
}

.card-container:hover .card-back {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    border: 1px solid grey;
    border-radius: 5%;
}

.card-body {
    padding: 0 20px;
    text-align: center;   
}

.card-title {
    font-weight: bold;
}

.card-palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}


.color {
    margin: 2px;
    border-radius: 30%;
    width: 30px;
    height: 30px;
    transition: all .3s ease-out;
}

.color:hover {
    transform: translate(0, -5px);
}

.card {
    transition: all 0.9s;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

/* CARD MEDIA QUERIES */
@media only screen and (max-width: 992px) {
    .card-container {
        height: 450px;
    }

    .card-palette {
        margin-bottom: 0;
    }

    .color {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .card-container {
        height: 300px;
    }

    .card-palette {
        margin-bottom: 5%;
    }

    .color {
        width: 30px;
        height: 30px;
        margin: 5px;
    }
}


/* CARD TRANSITIONS */
.card-fade {
    animation: 0.75s ease-out 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* FOOTER */
.footer {
    text-align: center;
    background-color: lightgray;
    padding: 20px 0;
}
